# 4.8 Task

## Import libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# create path shortcut
path = r'/Users/mindydong/Documents/School/Data Analyst/Achievement 4/04-2023 Instacart Basket Analysis'

In [3]:
# import orders_products_merged.pkl
ords_prods_merge = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_combined_2.pkl'))

## Question 2

In [4]:
# department_id mean
ords_prods_merge.groupby('department_id').agg ({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Question 3

For the subset, it shows only 8 department ids vs all 21 in the full dataset. Some means had significant change such as the mean for department_id 14, while others have no significant change like department_id 7.

## Question 4

In [5]:
#create max order
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
# create loyalty flag Loyal customer
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [7]:
# create loyalty flag Regular customer
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [8]:
# create loyalty flag New customer
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [9]:
# check output
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: loyalty_flag, dtype: int64

## Question 5

In [10]:
#basic stats by loyalty group
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

## Question 6

In [11]:
#create average_spend based on mean purchase price by user_id
ords_prods_merge['avg_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [12]:
#check output
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spend
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Regularly busy,Least busy days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Regularly busy,Least busy days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Least busy,Least busy days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Least busy,Least busy days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Least busy,Least busy days,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556

In [13]:
# create low spender flag
ords_prods_merge.loc[ords_prods_merge['avg_spend'] < 10, 'spender_flag'] = 'Low spender'

In [14]:
# create high spender flag
ords_prods_merge.loc[ords_prods_merge['avg_spend'] > 10, 'spender_flag'] = 'High spender'

In [15]:
# check output 
ords_prods_merge[['user_id', 'spender_flag', 'order_number']].head(60)

    user_id spender_flag  order_number
0         1  Low spender             1
1         1  Low spender             2
2         1  Low spender             3
3         1  Low spender             4
4         1  Low spender             5
5         1  Low spender             6
6         1  Low spender             7
7         1  Low spender             8
8         1  Low spender             9
9         1  Low spender            10
10       15  Low spender            15
11       15  Low spender            17
12       15  Low spender            18
13       15  Low spender            21
14       15  Low spender            22
15       19  Low spender             2
16       19  Low spender             5
17       19  Low spender             7
18       21  Low spender            10
19       31  Low spender            10
20       31  Low spender            17
21       43  Low spender             6
22       43  Low spender             9
23       52  Low spender             1
24       52  Low spender             2
25       52  Low spender             3
26       52  Low spender             5
27       52  Low spender             7
28       52  Low spender             9
29       52  Low spender            10
30       52  Low spender            11
31       52  Low spender            12
32       52  Low spender            15
33       52  Low spender            17
34       52  Low spender            18
35       52  Low spender            19
36       52  Low spender            21
37       67  Low spender             1
38       67  Low spender             2
39       67  Low spender             3
40       67  Low spender             4
41       67  Low spender             5
42       67  Low spender             6
43       67  Low spender             8
44       67  Low spender             9
45       67  Low spender            10
46       67  Low spender            11
47       67  Low spender            12
48       67  Low spender            13
49       67  Low spender            14
50       67  Low spender            16
51       67  Low spender            18
52       67  Low spender            19
53       67  Low spender            21
54       67  Low spender            22
55       67  Low spender            23
56       81  Low spender             3
57       81  Low spender             5
58       82  Low spender             1
59       82  Low spender             3

## Question 7

In [16]:
#create order frequency based on median of days_since_last_order
ords_prods_merge['order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [17]:
#check output
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spend,spender_flag,order_frequency
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0

In [18]:
# create non-frequent customer flag
ords_prods_merge.loc[ords_prods_merge['order_frequency'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [19]:
# create regular customer flag
ords_prods_merge.loc[(ords_prods_merge['order_frequency'] > 10) & (ords_prods_merge['order_frequency'] <= 20) , 'order_frequency_flag'] = 'Regular customer'

In [20]:
# create frequent customer flag
ords_prods_merge.loc[ords_prods_merge['order_frequency'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [21]:
# check output 
ords_prods_merge[['user_id', 'order_frequency_flag', 'order_frequency']].head(60)

    user_id   order_frequency_flag  order_frequency
0         1  Non-frequent customer             20.5
1         1  Non-frequent customer             20.5
2         1  Non-frequent customer             20.5
3         1  Non-frequent customer             20.5
4         1  Non-frequent customer             20.5
5         1  Non-frequent customer             20.5
6         1  Non-frequent customer             20.5
7         1  Non-frequent customer             20.5
8         1  Non-frequent customer             20.5
9         1  Non-frequent customer             20.5
10       15      Frequent customer             10.0
11       15      Frequent customer             10.0
12       15      Frequent customer             10.0
13       15      Frequent customer             10.0
14       15      Frequent customer             10.0
15       19      Frequent customer              6.0
16       19      Frequent customer              6.0
17       19      Frequent customer              6.0
18       21      Frequent customer              7.5
19       31      Frequent customer              6.0
20       31      Frequent customer              6.0
21       43      Frequent customer             10.0
22       43      Frequent customer             10.0
23       52      Frequent customer              8.0
24       52      Frequent customer              8.0
25       52      Frequent customer              8.0
26       52      Frequent customer              8.0
27       52      Frequent customer              8.0
28       52      Frequent customer              8.0
29       52      Frequent customer              8.0
30       52      Frequent customer              8.0
31       52      Frequent customer              8.0
32       52      Frequent customer              8.0
33       52      Frequent customer              8.0
34       52      Frequent customer              8.0
35       52      Frequent customer              8.0
36       52      Frequent customer              8.0
37       67      Frequent customer              7.0
38       67      Frequent customer              7.0
39       67      Frequent customer              7.0
40       67      Frequent customer              7.0
41       67      Frequent customer              7.0
42       67      Frequent customer              7.0
43       67      Frequent customer              7.0
44       67      Frequent customer              7.0
45       67      Frequent customer              7.0
46       67      Frequent customer              7.0
47       67      Frequent customer              7.0
48       67      Frequent customer              7.0
49       67      Frequent customer              7.0
50       67      Frequent customer              7.0
51       67      Frequent customer              7.0
52       67      Frequent customer              7.0
53       67      Frequent customer              7.0
54       67      Frequent customer              7.0
55       67      Frequent customer              7.0
56       81  Non-frequent customer             30.0
57       81  Non-frequent customer             30.0
58       82       Regular customer             11.5
59       82       Regular customer             11.5

In [22]:
#export to pickle
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merged_2.pkl'))

In [23]:
ords_prods_merge.shape

(32434212, 22)